# Composer
vendor

# This is where we keep our precious things
# Uncomment it once you've cloned this template!
#secrets

# WP
wp/
#!wp-content/
#wp-content/*
#!wp-content/plugins/
#wp-content/plugins/*
#!wp-content/themes/
#wp-content/themes/*
!wp-content/themes/twentyfourteen # we need at least one

# Add any plugins you're developing here, like so;
!wp-content/plugins/my-plugin

# Add any themes you're developing here, like so;
!wp-content/themes/my-theme